In [ ]:
# Printing Star using Nested loop
n = int(input('Enter an integer: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print('')

*
* *
* * *
* * * *

In [4]:
n = int(input('Enter an integer: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [9]:
n = int(input('Enter an integer: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  for k in range(i-1,0,-1):
      print(k,end=' ')
  print('')

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### Loop Control Statement


*   break
*   continue
*   pass

In [13]:
lower = int(input('Enter lower range: '))
upper = int(input('Enter upper range: '))
prime_number = []
for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        prime_number.extend([i])
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Strings are sequence of Characters


In Python, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [14]:
s = 'string'
s ="string"
s = '''this is
a sting''' # multiline sting
s = """This is a stirng""" # multiline string

## why python has single and double inverted comma to create a string

In [16]:
print("it's raining")
print('he says that "Time and tide wait for none"')

it's raining
he says that "Time and tide wait for none"

## Accessing Substrings from a String
Indexing
- positive indexing
- Negative indexing

## Slicing
Accessing more than one character

In [20]:

s = 'hello world'
s[-1:-6:-1]
s[::-1]

'dlrow olleh'

## Editing and Deleting in Strings

In [ ]:
# editing and deleting is not possible


Mutability refers to whether an object can be changed after it is created

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Loops on Strings
- Membership Operator

In [18]:
print('Hello ' + 'world')
print('He'*3)

Hello world
HeHeHe

## Relational Operation in String

In [ ]:
'delhi' = 'mumbai'
'mumbai' > 'pune' # lexiographically

In [ ]:
# Logical operator
'hello' and 'world'
'hello' or 'world'
'' and 'world'
not 'world'

'world'

## loops on string

In [22]:
for i in 'Bangladesh':
    print(i)

B
a
n
g
l
a
d
e
s
h

### Membership Operator in string
In Python, membership operators are used to test whether a value is present in a sequence (like a string, list, tuple, dictionary, or set).

There are two membership operator.
- in
- not in

In [23]:
'd' in 'dhaka'

True

## Functions in String
## Length,Capitalize,Title,Lower,Upper,Swapcase

In [25]:
# common function -> len,max,min,sorted
s = 'bangladesh'
sorted(s)

['a', 'a', 'b', 'd', 'e', 'g', 'h', 'l', 'n', 's']


Methods in Python are functions that are associated with objects.

object.method(arguments)

## Count, Find

In [27]:
'my name is nayeem'.count('e')

3

In [ ]:
'my name is nayeem'.find('e')
# -1 if the character is not in string

6

In [29]:
'my name is nayeem'.index('e')
# error if the character is not in string

6

## String Formatting

In [30]:
name = 'hasan'
age = 24
'hi my name is {1} and i am {0}'.format(age,name)

'hi my name is hasan and i am 24'

## String Formattting Using F String

In [31]:
name = 'hasan'
age = 24
f'hi my name is {name} and i am {age}'

'hi my name is hasan and i am 24'

## Split, Join

In [32]:
s = 'hi my name is hasan and i am 24'
s.split('i')

['h', ' my name ', 's hasan and ', ' am 24']

In [34]:
' '.join(['hi', ' my name ', 'is hasan and ', 'i am 24'])

'hi  my name  is hasan and  i am 24'

## Replace

In [35]:
s = 'hello my name is nayeem'
s.replace('nayeem','kamal')

'hello my name is kamal'

## Strip

In [36]:
n = 'nayeem       '
n.strip()

'nayeem'

In [5]:
# Find the length fo a given string without using len() function
n = input('Enter a string: ')
length = 0
for i in n:
    length += 1
print(length)

11

In [6]:
# Extract username from a given email
mail = input('Enter your mail: ')
username = ''
for i in mail:
    if i == '@':
        break
    username += i
print('Your username is: ',username)

Your username is:  nayeem24125

In [9]:
# Count the frequency of a particular character in a provided string
s = input('Enter a string: ')
c = input('Enter character: ')
count = 0
for i in s:
    if i == c:
        count += 1
print(s)
print(f'The numbers of {c} in this string is: ',count)

This is new island
The numbers of i in this string is:  3

In [1]:
# write a program which can remove a particular character from a string
s = input('Enter a string: ')
c = input('Enter Char: ')
string = ''
for i in s:
    if i == c:
        continue
    string += i
print(s)
print(f'The string without {c} is: ',string)

this is new island
The string without i is:  ths s new sland

In [ ]:
# Write a program than can check whether a given string is palindrome or not
name = input('Enter a name: ')
for i in range(len(name)//2):
    if name[i] == name[-i-1]:
        something = True
    else:
        something = False
        break
if something == True:
    print('Palindrom')
else:
    print('Not palindrom')

Not palindrom

In [15]:
# Write a program to count the number of words in a string without split()
string = input('Enter a string: ')
count = 1
for i in string:
    if i == ' ':
        count += 1
print(string)
print('the number of words is: ',count)

hi my an amp of the protest
the number of words is:  7

In [ ]:
# Write a program to convert a string to title case without the title()
string = input('Enter a string: ')
title = ''

for i in string:
    if i == ' ' or i == 0:
        count += 1
print(string)
print('the number of words is: ',count)

In [ ]:
# Write a program that can convert an integer to string
n = int(input('Enter an integer: '))
string = ''
for i in n:
    string += i